# Docs:
# - File format: https://docs.npmjs.com/cli/v10/configuring-npm/npmrc
# - Options: https://docs.npmjs.com/cli/v10/using-npm/config

audit=false
cache=~/.cache/npm
engine-strict=true
fund=false
prefix=~/.local/
strict-peer-deps=true
